<div class="card text-white bg-dark">
    <div class="card-header"><h4 class="m-0">Active Settlements</h4></div>
    <table class="table table-sm table-hover table-borderless m-0">
        <thead class="border-bottom border-secondary">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <%if current_user.isLawyer?%>
                    <th>Company</th>
                <%elsif current_user.isInsuranceAgent?%>
                    <th>Firm</th>
                <%end%>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <%current_user.settlements.each do |s|%>
                <tr class="table-secondary">
                    <td><%=render "status", settlement: s%></td>
                    <%if current_user.isInsuranceAgent?%>
                        <td><%=link_to s.lawyer.full_name, settlement_show_path(s)%></td>
                        <td><%=s.lawyer.organization%></td>
                    <%elsif current_user.isLawyer?%>
                        <td><%=link_to s.insurance_agent.full_name, settlement_show_path(s)%></td>
                        <td><%=s.insurance_agent.organization%></td>
                    <%end%>
                    <td>$<%=s.settlement_amount%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>