<div class="card text-white bg-dark mb-4">
    <div class="card-header"><h4 class="m-0">Action Needed</h4></div>
    <div class="list-group">
        <%if current_user.isAttorney?%>
            <%=settlements_need_approval(current_user)%>
            <%=settlements_ready_to_be_signed(current_user)%>
            <%=settlements_need_final_approval%>
            <%=settlements_need_payment_review(current_user)%>
        <%elsif current_user.isInsuranceAgent?%>
            <%=settlements_need_document(current_user)%>
            <%=settlements_need_adjustment(current_user)%>
            <%=settlements_need_payment(current_user)%>
        <%end%>
    </div>
</div>