<%= form_with model: @settlement, url: path, local: true do |f| %>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Claimant name", { class: "form-label mb-1"} %>
                    <%= f.text_field :claimant_name, { class: "form-control", placeholder: "Claimant", :required => true }%>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Policy holder name", { class: "form-label mb-1"} %>
                    <%= f.text_field :policy_holder_name, { class: "form-control", placeholder: "Policy holder", :required => true } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Date of incident", { class: "form-label mb-1"} %>
                    <%= f.date_field :incident_date, { class: "form-control", :required => true } %>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Location of incident", { class: "form-label mb-1"} %>
                    <%= f.text_field :incident_location, { class: "form-control", placeholder: "Location", :required => true } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Amount", { class: "form-label mb-1"} %>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" step="0.01" required="required" type="number" name="settlement[amount]" id="settlement_amount">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <%= f.label "Claim number", { class: "form-label mb-1"} %>
                    <%= f.text_field :claim_number, { class: "form-control", placeholder: "Claim number", :required => true } %>
                </div>
            </div>
        </div>
        <%if submit_label == "Start"%>
        <div class="mb-3">
            <%if current_user.isAttorney?%>
                <%= f.label "Insurance agent", {class: "form-label mb-1"} %>
            <%else%>
                <%= f.label "Attorney", {class: "form-label mb-1"} %>
            <%end%>
            <select class="form-select" name="partner_id" required>
                <option disabled selected value>Select here</option>
                <%if current_user.isAttorney?%>
                    <%User.all_insurance_agents.each do |u|%>
                        <option id="<%=u.public_id%>" value="<%=u.public_id%>"><%="#{u.full_name} (#{u.organization.full_name})"%></option>
                    <%end%>
                <%else%>
                    <%User.all_attorneys.each do |u|%>
                        <option id="<%=u.public_id%>" value="<%=u.public_id%>"><%="#{u.full_name} (#{u.organization.full_name})"%></option>
                    <%end%>
                <%end%>
            </select>
        </div>
        <%end%>
        <div class="d-flex align-items-right">
            <%= f.submit "#{submit_label} settlement", class: "btn btn-sm btn-primary" %>
        </div>
    </div>
<% end %>