<div class=container>
    <div class="row">
        <div class="col">
            <div class="card">
                <h3 class="card-header text-center">Get Client's Signature</h3>
                <div class="alert alert-dismissible alert-secondary">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h6 class="card-subtitle text-warning text-center mb-2">Send a signature request with DocuSign.</h6>
                    <h6 class="card-title" style="text-align: justify;">Your client, <strong><%=@settlement.plaintiff_name%></strong>, will receive an email from DocuSign asking them to electronically sign this document. When the document is signed, the settlement can continue processing.</h6>
                </div>
                <div class="card-body bg-dark">
                    <%= form_with url: settlement_send_ds_signature_request_path(@settlement), method: :patch, local: true do |f| %>
                        <div class="mb-3">
                            <%= f.label "Client name", { class: "form-label"} %>
                            <%= f.text_field :client_name, class: "form-control", placeholder: "Client name", value: @settlement.plaintiff_name, readonly: true%>
                        </div>
                        <div class="mb-3">
                            <%= f.label "Client email", { class: "form-label"} %>
                            <%= f.email_field :client_email, class: "form-control", placeholder: "Client email", autofocus: true, required: true%>
                        </div>
                        <div class="row">
                        <div class="col">
                                <%=link_to "Send Later", root_path, class: "btn btn-lg btn-secondary w-100"%>
                            </div>
                            <div class="col">
                                <%=f.submit "Send Now", class: "btn btn-lg btn-primary w-100"%>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col">
            <embed src="<%=rails_blob_path(@settlement.release_form.pdf)%>" type="application/pdf"  width="100%" height="700">
        </div>
    </div>
</div>

