<h3 class="text-center mb-4"><%=need_message(@stage, @status)%></h3>


<table class="table table-sm table-hover table-borderless mx-auto w-50" style="max-height: 100%;">
    <thead class="border-bottom border-secondary">
        <tr>
            <th>Status</th>
            <%if current_user.isAttorney?%>
                <th>Adjuster Name</th>
                <th>Company</th>
            <%elsif current_user.isAdjuster?%>
                <th>Attorney Name</th>
                <th>Firm</th>
            <%end%>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <%@settlements.each do |s|%>
            <tr class="table-secondary">
                <td><%=render "status", settlement: s%></td>
                <%if current_user.isAdjuster?%>
                    <td><%=link_to s.attorney.name, settlement_show_path(s)%></td>
                    <td><%=s.attorney.organization.name%></td>
                <%elsif current_user.isAttorney?%>
                    <td><%=link_to s.adjuster.name, settlement_show_path(s)%></td>
                    <td><%=s.adjuster.organization.name%></td>
                <%end%>
                <td>$<%=s.amount%></td>
            </tr>
        <%end%>
    </tbody>
</table>