<h3 class="text-center mb-4"><%=need_message(@stage, @status)%></h3>


<table class="table table-sm table-hover table-borderless mx-auto w-50" style="max-height: 100%;">
        <thead class="border-bottom border-secondary">
            <tr>
                <th>Status</th>
                <%if current_user.isLawyer?%>
                    <th>Agent Name</th>
                    <th>Company</th>
                <%elsif current_user.isInsuranceAgent?%>
                    <th>Lawyer Name</th>
                    <th>Firm</th>
                <%end%>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <%@settlements.each do |s|%>
                <tr class="table-secondary">
                    <td><%=render "status", settlement: s%></td>
                    <%if current_user.isInsuranceAgent?%>
                        <td><%=link_to s.lawyer.full_name, settlement_show_path(s)%></td>
                        <td><%=s.lawyer.organization%></td>
                    <%elsif current_user.isLawyer?%>
                        <td><%=link_to s.insurance_agent.full_name, settlement_show_path(s)%></td>
                        <td><%=s.insurance_agent.organization%></td>
                    <%end%>
                    <td>$<%=s.settlement_amount%></td>
                </tr>
            <%end%>
        </tbody>
    </table>