<h1 class="text-center text-primary">Start a New Settlement.</h1>

<%= form_with model: @settlement, url: settlement_create_path, local: true do |f| %>
    <div class="card mx-auto w-50 border-dark border-2">
        <div class="card-body">

            <div class="mb-3">
            <%= f.label :plaintiff_name, { class: "form-label"} %>
            <%= f.text_field :plaintiff_name, { class: "form-control", placeholder: "Plaintiff name", autofocus: "" } %>
            </div>

            <div class="mb-3">
            <%= f.label :defendent_name, { class: "form-label"} %>
            <%= f.text_field :defendent_name, { class: "form-control", placeholder: "Defendent name" } %>
            </div>

            <div class="mb-3">
            <%= f.label :settlement_amount, { class: "form-label"} %>
            <%= f.text_field :settlement_amount, { class: "form-control", placeholder: "Settlement amount" } %>
            </div>

            <div class="mb-3">
                <%= f.label :select_one, { class: "form-label"} %>
                <%if current_user.isLawyer?%>
                    <%= f.select :insurance_agent, options_for_select(User.all_insurance_agents.map { |user| ["#{user.full_name}"]}, selected: session['new_settlement_partner_id']), html: {selected: true} %>
                    <%= f.select :insurance_agent, User.all_insurance_agents.map { |user| ["#{user.full_name} (#{user.organization})", user.id] }, {}, {:selected => f.object.insurance_agent, :class => "form-select"}%>
                <%else%>
                    <%= f.select :lawyer, User.all_lawyers.map { |user| ["#{user.full_name} (#{user.organization})", user.id] }, {}, {:class => "form-select"}%>
                <%end%>
            </div>

            <%= f.submit "Start", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
