<div class="container my-4">
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="row">
                <div class="col">
                    <%=image_tag "picture1.png", size: 96, class: "rounded-circle bg-secondary border"%>
                    <a href="<%=user_profile_show_path(@visitor.profile, continue_path: request.path)%>" class="text-decoration-none" style="color: rgb(73, 80, 87);">
                        <h3 class="m-0" data-test-id="visitor_name"><%=@visitor.name%></h3>
                    </a>
                    <a href="<%=user_profile_show_path(@visitor.organization.profile, continue_path: request.path)%>" class="text-decoration-none">
                        <h6 class="m-0 text-muted" data-test-id="visitor_organization_name"><%=@visitor.organization.name%></h6>
                    </a>
                </div>
                <div class="col-auto d-grid align-items-center justify-content-center">
                    <div>
                        <h4 class="m-0 text-center text-muted" data-test-id="settlement_number">Settlement #<%="%04d" % @settlement.public_number%></h4>
                        <h1 class="m-0 text-center" data-test-id="settlement_summary"><%=settlement_summary%></h1>
                    </div>
                </div>
                <div class="col">
                    <%=image_tag "picture1.png", size: 96, class: "d-block ms-auto rounded-circle bg-secondary border"%>
                    <a href="<%=user_profile_show_path(@partner.profile, continue_path: request.path)%>" class="text-decoration-none" style="color: rgb(73, 80, 87);">
                        <h3 class="m-0 text-end" data-test-id="partner_name"><%=@partner.name%></h3>
                    </a>
                    <a href="<%=user_profile_show_path(@partner.organization.profile, continue_path: request.path)%>" class="text-decoration-none">
                        <h6 class="m-0 text-end text-muted" data-test-id="partner_organization_name"><%=@partner.organization.name%></h6>
                    </a>
                </div>
            </div>
            <%=settlement_timeline%>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="card h-100">
                <h4 class="card-header d-flex justify-content-between align-items-center">
                    Details
                    <div class="d-flex align-items-center gap-2">
                        <a href="<%=under_construction_path(continue_path: request.path, page_name: "edit settlement details")%>" class="btn btn-secondary btn-sm d-flex align-items-center gap-1">
                            Edit
                            <i class="fa-solid fa-pen text-muted m-0"></i>
                        </a>
                        <button class="btn btn-sm btn-success"><%=thumbs_up_icon(color: :white)%></button>
                    </div>
                </h4>
                <div class="card-body">
                    <div class="pb-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Amount</p>
                            <h6 class="m-0 text-dark"><%=number_to_currency(@settlement.amount)%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="py-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Claimant</p>
                            <h6 class="m-0 text-dark"><%=@settlement.claimant_name.blank? ? "N/A" : @settlement.claimant_name%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="py-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Policy Holder</p>
                            <h6 class="m-0 text-dark"><%=@settlement.policy_holder_name.blank? ? "N/A": @settlement.policy_holder_name%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="py-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Claim number</p>
                            <h6 class="m-0 text-dark"><%=@settlement.claim_number.blank? ? "N/A": @settlement.claim_number%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="py-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Policy Number</p>
                            <h6 class="m-0 text-dark"><%=@settlement.policy_number.blank? ? "N/A": @settlement.policy_number%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="py-2 border-bottom d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Date of Incident</p>
                            <h6 class="m-0 text-dark"><%=@settlement.incident_date.blank? ? "N/A" : @settlement.incident_date.in_time_zone("Central Time (US & Canada)").strftime("%-d %b, %Y")%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                    <div class="pt-2 d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="m-0">Location of Incident</p>
                            <h6 class="m-0 text-dark"><%=@settlement.incident_location.blank? ? "N/A": @settlement.incident_location%></h6>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                            <i class="fa-solid fa-thumbs-up m-0 text-muted h5" style="opacity: 50%;"></i>
                        </div>
                    </div>
                
                
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="row pb-1" style="flex: 1 1 50%;">
                <div class="col">
                    <%=render "settlements/payment_card"%>
                </div>
            </div>
            <div class="row pt-1" style="flex: 1 1 50%;">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="m-0">Documents</h4>
                            <a href="<%=under_construction_path(continue_path: request.path, page_name: "new document")%>" class="btn btn-sm btn-primary d-flex gap-1 align-items-center" data-test-id="new_document_button">
                                New
                                <i class="fa-solid fa-plus m-0 h6"></i>
                            </a>
                        </div>
                        <div class="list-group list-group-flush overflow-auto" style="display: block;">
                            <div class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                                <div class="d-flex gap-3 align-items-center">
                                    <%=document_icon(color: :primary, size: :h4)%>
                                    <div>
                                        <h6 class="m-0">dummy_document(1).pdf</h6>
                                        <p class="m-0 text-muted">Johnathan Williams</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="fa-solid fa-thumbs-up m-0 text-success h5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="m-0">Recent Activity</h4>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item py-1 px-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center" style="width: 27px;">
                                <i class="fa-solid fa-file-signature text-primary m-0 h4"></i>
                            </div>
                            <div>
                                <h6 class="m-0">Signature requested</h6>
                                <p class="text-muted m-0">dummy_document(1).pdf</p>
                                <p class="text-muted m-0">Johnathan Williams</p>
                            </div>
                        </div>
                        <p class="text-muted m-0">11 minutes ago</p>
                    </div>
                    <div class="list-group-item py-1 px-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center" style="width: 27px;">
                                <%=document_icon(color: :blue, size: :h4)%>
                            </div>
                            <div>
                                <h6 class="m-0">Document added</h6>
                                <p class="text-muted m-0">dummy_document(1).pdf</p>
                                <p class="text-muted m-0">Johnathan Williams</p>
                            </div>
                        </div>
                        <p class="text-muted m-0">1 minute ago</p>
                    </div>
                    <div class="list-group-item py-1 px-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center" style="width: 27px;">
                                <%=document_icon(color: :red, size: :h4)%>
                            </div>
                            <div>
                                <h6 class="m-0 fw-normal">Document automatically deleted</h6>
                                <p class="text-muted m-0">dummy_document.pdf</p>
                            </div>
                        </div>
                        <p class="text-muted m-0">2 minutes ago</p>
                    </div>
                    <div class="list-group-item py-1 px-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center" style="width: 27px;">
                                <%=document_icon(color: :red, size: :h4)%>
                            </div>
                            <div>
                                <h6 class="m-0">Document rejected</h6>
                                <p class="text-muted m-0">dummy_document.pdf</p>
                                <p class="text-muted m-0">Amanda Perkins</p>
                            </div>
                        </div>
                        <p class="text-muted m-0">5 minutes ago</p>
                    </div>
                    <div class="list-group-item py-1 px-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center" style="width: 27px;">
                                <%=document_icon(color: :blue, size: :h4)%>
                            </div>
                            <div>
                                <h6 class="m-0">Document added</h6>
                                <p class="text-muted m-0">dummy_document.pdf</p>
                                <p class="text-muted m-0">Johnathan Williams</p>
                            </div>
                        </div>
                        <p class="text-muted m-0">11 minutes ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>