<div class="container">
    <div class="row">
        <div class="col">
        <div class="card">
            <h1 class="text-center card-header">Details</h1>
            <%=render "form", path: settlement_update_path(@settlement), submit_label: "Update"%>
            <div class="list-group">
                <%if current_user.isLawyer?%>
                    <%if @settlement.stage == 1 && @settlement.status == 2%>
                        <%=link_to "View documents", settlement_review_document_path(@settlement.release_form), class: "list-group-item list-group-item-action"%>
                    <%elsif @settlement.release_form != nil%>
                        <%=link_to "View documents", release_form_show_path(@settlement.release_form), class: "list-group-item list-group-item-action"%>
                    <%else%>
                        <%=link_to "View documents", nil, class: "list-group-item list-group-item-action disabled"%>
                    <%end%>
                    <%if @settlement.stage != 2%>
                        <a href="#" class="list-group-item list-group-item-action disabled">Get signature</a>
                    <%elsif @settlement.status != 1%>
                        <%=link_to "Resend signature request", settlement_get_client_signature_path(@settlement), class: "list-group-item list-group-item-action"%>
                    <%else%>
                        <%=link_to "Get signature", settlement_get_client_signature_path(@settlement), class: "list-group-item list-group-item-action"%>
                    <%end%>
                    <%if @settlement.stage != 3%>
                        <a href="#" class="list-group-item list-group-item-action disabled">Complete settlement</a>
                    <%elsif @settlement.stage == 3 && @settlement.status == 4%>
                        <%=link_to "Complete settlement", settlement_complete_path(@settlement), class: "list-group-item list-group-item-action"%>
                    <%end%>
                <%elsif current_user.isInsuranceAgent?%>
                    <%=link_to "Upload documents", release_form_new_path(:settlement_id => @settlement.id), class: "list-group-item list-group-item-action"%>
                    <a href="<%=stripe_settlement_checkout_session_path(@settlement)%>" class="list-group-item list-group-item-action">Make payment</a>
                <%end%>
                <%=link_to "Cancel settlement", settlement_destroy_path(@settlement), method: :delete, class: "list-group-item list-group-item-action", :data => {:confirm => 'Cancel? Are you sure?'}%>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
            <h1 class="text-center card-header">Activity</h1>
            <div class="card">
                <a href=<%=status_action_path(@settlement)%> class="card-header list-group-item list-group-item-action text-center"><strong>Status:</strong> <%=@settlement.status_message%></a>                
                <div class="card-body bg-dark">
                </div>
            </div>
        </div>
        </div>
    </div>
</div>