<h1 class="text-center text-primary">Start a New Settlement</h1>
<p class="text-center">Who would you like to start this settlement with?</p>

<%= form_with model: @settlement, url: settlement_create_path, local: true do |f| %>
    <div class="card mx-auto w-50 border-dark border-2">
        <div class="card-body">

            <div class="mb-3">
                <%= f.label :select_one, { class: "form-label"} %>
                <select class="form-select" name="settlement[user]">
                    <%@users.each do |u|%>
                        <option><%=u.full_name%> (<%=u.organization%>)</option>
                    <%end%>
                </select>
            </div>

            <%= f.submit "Start", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
