<%= bootstrap_form_with model: @document, url: path, local: true do |form| %>
  <div>
    <%= form.text_field :claim_number, class: "form-control", placeholder: "Claim number"%>
    <%= form.text_field :policy_number, class: "form-control", placeholder: "Policy number"%>
    <%= form.text_field :plaintiff_name, class: "form-control", placeholder: "Plaintiff"%>
    <%= form.text_field :defendant_name, class: "form-control", placeholder: "Defendant"%>
    <%= form.text_field :place_of_incident, class: "form-control", placeholder: "Place of incident"%>
    <%= form.text_field :incident_description, class: "form-control", placeholder: "Incident description"%>
    <%= form.text_field :settlement_amount, class: "form-control", placeholder: "Settlement amount"%>
    <%= form.date_field :date_of_incident, class: "form-control"%>
    <br>
    <%= form.submit("Generate")%>
  </div>
<% end %>


<%=@document.errors.full_messages.inspect%>