<div class="container">
    <div class="card mt-4 mx-auto w-50">
        <%=form_for(current_user, url: registration_path(current_user), html: {method: :put, "data-js-styling": true}) do |f|%>
            <div class="card-header">
                <h2 class="card-title">Change password for <%=current_user.name%></h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Password", value: "", required: true%>
                        <label for="user_current_password">Current password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <%=f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "New password", value: "", required: true%>
                        <label for="user_password">New password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <%=f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Password confirmation", value: "", required: true%>
                        <label for="user_password_confirmation">New password again</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <%unless @continue_path.blank?%>
                    <input name="continue_path" type="hidden" value="<%=@continue_path%>">
                <%end%>
                <%= f.submit "Save", class: "btn btn-primary", "data-test-id": "submit_change_password_button"%>
                <%=link_to "Cancel", cancel_changes_path(continue_path: @continue_path), class: "btn btn-outline-primary"%>
            </div>
        <%end%>
    </div>
</div>