<div class="container">
    <div class="card mt-4 mx-auto w-50">
        <div class="card-header">
            <h2 class="card-title">Change email for <%=current_user.full_name%></h2>
            <p class="card-subtitle"><%=current_user.full_name%>'s current email is <%=current_user.email%></p>
        </div>
        <div class="card-body">
            <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control", placeholder: current_user.email, value: ""%>
                        <label for="user_email">New email</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Password", value: ""%>
                        <label for="user_current_password">Current password</label>
                    </div>
                </div>
        </div>
        <div class="card-footer">
            <%= f.submit "Update", class: "btn btn-primary"%>
            <%=link_to "Cancel", cancel_changes_path(continue_path: params[:continue_path]), class: "btn btn-outline-primary"%>
        </div>
            <%end%>
    </div>
</div>
