<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="m-0">Account</h3>
                    <%if current_user.activated?%>
                        <h6 class="card-subtitle text-success m-0">Your account has been activated.</h6>
                    <%else%>
                        <h6 class="card-subtitle text-danger m-0">Your account is not activated.</h6>
                    <%end%>
                </div>
                <div class="card-body container">
                    <div class="row">
                        <div class="col">
                            <h6 class="m-0">Business Profile</h6>
                            <p class="m-0"><strong>Name:</strong> Gatti Keltner Bienvenue & Montesi</p>
                            <p class="m-0"><strong>MCC:</strong> 8111</p>
                            <p class="m-0"><strong>Type:</strong> LLC</p>
                            <p class="m-0"><strong>Address:</strong> 2941 E Glengarry Rd, Memphis, TN 38128</p>
                            <p class="m-0"><strong>Phone:</strong> (555) 515-5105</p>
                            <p class="m-0"><strong>Email:</strong> gkbm@example.com</p>
                        </div>
                        <div class="col-auto border-start">
                            <div class="">
                                <h6 class="m-0">Capabilities</h6>
                                <%if current_user.stripe_account.card_payments_enabled?%>
                                    <p class="m-0"><i class="text-success fa-regular fa-square-check"></i> Card payments</p>
                                <%else%>
                                    <p class="text-danger m-0"><i class="fa-regular fa-square"></i> Card payments</p>
                                <%end%>
                                <%if current_user.stripe_account.treasury_enabled? && current_user.stripe_account.us_bank_account_ach_payments_enabled? && current_user.stripe_account.transfers_enabled?%>
                                    <p class="m-0"><i class="text-success fa-regular fa-square-check"></i> ACH transfers</p>
                                <%else%>
                                    <p class="text-danger m-0"><i class="fa-regular fa-square"></i> ACH transfers</p>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                        <div class="field">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="field">
                            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                            <%= f.password_field :password, autocomplete: "new-password" %>
                            <% if @minimum_password_length %>
                                <br />
                                <em><%= @minimum_password_length %> characters minimum</em>
                            <% end %>
                        </div>

                        <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>

                        <div class="field">
                            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                            <%= f.password_field :current_password, autocomplete: "current-password" %>
                        </div>

                        <div class="actions">
                            <%= f.submit "Update" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="m-0">Requirements</h3>
                    <%if current_user.activated?%>
                        <h6 class="card-subtitle text-muted m-0">All requirements are met. Your account has been activated.</h6>
                    <%else%>
                        <h6 class="card-subtitle text-danger m-0">Fulfill all requirements to activate your account.</h6>
                    <%end%>
                </div>
                <div class="overflow-auto" style="height: 200px;">
                    <div class="list-group list-group-flush">
                        <a class="py-1 list-group-item list-group-item-action" href="<%=stripe_onboard_account_link_path%>">
                            <%if current_user.stripe_account.onboarded?%>
                                <p class="m-0"><i class="me-2 text-success fa-regular fa-square-check"></i>Complete onboarding with Stripe.</p>
                            <%else%>
                                <p class="m-0"><i class="me-2 fa-regular fa-square"></i>Complete onboarding with Stripe.</p>
                            <%end%>
                        </a>
                        <a class="py-1 list-group-item list-group-item-action" href="">
                            <%if current_user.has_bank_account?%>
                                <p class="m-0"><i class="me-2 text-success fa-regular fa-square-check"></i>Add a bank account</p>
                            <%else%>
                                <p class="m-0"><i class="me-2 fa-regular fa-square"></i>Add a bank account</p>
                            <%end%>
                        </a>
                        <a class="py-1 list-group-item list-group-item-action" href="<%=organization_new_member_path(current_user)%>">
                            <%if current_user.has_member_account?%>
                                <p class="m-0"><i class="me-2 text-success fa-regular fa-square-check"></i>Create a Member account</p>
                            <%else%>
                                <p class="m-0"><i class="me-2 fa-regular fa-square"></i>Create a Member account</p>
                            <%end%>
                        </a>
                        <a class="py-1 list-group-item list-group-item-action" href="">
                            <%if current_user.two_factor_authentication_enabled?%>
                                <p class="m-0"><i class="me-2 text-success fa-regular fa-square-check"></i>Enable MFA</p>
                            <%else%>
                                <p class="m-0"><i class="me-2 fa-regular fa-square"></i>Enable MFA</p>
                            <%end%>
                        </a>
                        <a class="py-1 list-group-item list-group-item-action" href="">
                            <%if current_user.email_verified?%>
                                <p class="m-0"><i class="me-2 text-success fa-regular fa-square-check"></i>Verify email</p>
                            <%else%>
                                <p class="m-0"><i class="me-2 fa-regular fa-square"></i>Verify email</p>
                            <%end%>
                        </a>
                    </div>
                </div>
                <div class="card-body border-top">
                    <p class="">This information is required to activate your account. Provide this information via our partner, Stripe. </p>
                    <%=link_to "Go to Stripe", stripe_onboard_account_link_path, class: "btn btn-sm btn-primary"%>
                </div>
            </div>
        </div>
    </div>
</div>



<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
