<h1 class="text-center">Get Signature From Client</h1>
<p class="text-center">This is the page the lawyer will use to send the release form to the client.</p>

<div class="w-50" style="float: right;">
    <embed src="<%=rails_blob_path(@release_form.pdf)%>" type="application/pdf"  width="100%" height="700" style="border: none; float: right;">
</div>

<div class="float-left" style="width: 40%;">
  <%= bootstrap_form_with url: release_form_send_to_client_path, method: :patch, local: true do |form| %>
    <div>
      <%= form.text_field :client_name, class: "form-control", placeholder: "Client name"%>
      <%= form.email_field :client_email, class: "form-control", placeholder: "Client email"%>
      <br>
      <%=form.submit("Send to Client!")%>
    </div>
  <% end %>
  <p>A request will be sent from SDE to DocuSign to send an email to the address inputted here.</p>
</div>