<h1 class="text-center">Settlement Index</h1>
<p class="text-center">This is a list of all active settlements associated with <%=@organization.full_name%></p>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Attorney</th>
            <th>Agent</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <%@organization.settlements.each do |s|%>
            <tr>
                <td><%=render "settlements/status", settlement: s%></td>
                <td><%=link_to s.attorney.full_name, settlement_show_path(s)%></td>
                <td><%=link_to s.adjuster.full_name, settlement_show_path(s)%></td>
                <td>$<%=s.amount%></td>
                <td class="text-end">
                    <%=link_to "View", settlement_show_path(s), class: "badge rounded-pill bg-primary text-decoration-none"%>
                    <%=link_to "Cancel", settlement_destroy_path(s), class: "badge rounded-pill bg-danger text-decoration-none", method: :delete, data: {confirm: "Cancel this settlement? Are you sure?"}%>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

<%=link_to "🡸 Back", :back, class: "btn btn-outline-primary"%>