<h1 class="text-center">This is a test page for the DocuSign API.</h1>
<p class="text-center">It will not be in the final version of the application.</p>




<div class="d-grid gap-2 mx-auto w-25">
    <%=link_to '#1 Authenticate via JWT', 'https://account-d.docusign.com/oauth/auth?response_type=code&scope=impersonation&client_id=7c3457f0-5abb-49f7-97b8-5ad0c634eed9&redirect_uri=http://localhost:3000/ds_test_page', class: 'btn btn-lg btn-primary'%>
    <%=link_to '#2 Click me!', nil, class: 'btn btn-lg btn-primary'%>
    <%=link_to 'Click me!', nil, class: 'btn btn-lg btn-primary'%>
    <%=link_to 'Click me!', nil, class: 'btn btn-lg btn-primary'%>
    <%=link_to 'Click me!', nil, class: 'btn btn-lg btn-primary'%>
</div>

