<div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="max-width: 20vw; min-width: 20rem;">
    <h1 class="my-0 ms-3"><strong>Settings</strong></h1>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" data-test-id="settings_nav_bar_account_button">
            <a class="nav-link d-flex align-items-center justify-content-between gap-5" href="">
                <div>
                    <h5 class="m-0">Account</h5>
                    <p class="m-0">Change account settings</p>
                </div>
                <%=chevron_icon(direction: :right, color: :grey)%>
            </a>
        </li>
        <li class="nav-item" data-test-id="settings_nav_bar_account_button">
            <a class="nav-link d-flex align-items-center justify-content-between gap-5" href="">
                <div>
                    <h5 class="m-0">Profile</h5>
                    <p class="m-0">Edit your profile</p>
                </div>
                <%=chevron_icon(direction: :right, color: :grey)%>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-between gap-5" href="">
                <div>
                    <h5 class="m-0">Wallet</h5>
                    <p class="m-0">Store payment methods</p>
                </div>
                <%=chevron_icon(direction: :right, color: :grey)%>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-between gap-5" href="">
                <div>
                    <h5 class="m-0">Billing</h5>
                    <p class="m-0">See costs for using SDE</p>
                </div>
                <%=chevron_icon(direction: :right, color: :grey)%>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-between gap-5" href="">
                <div>
                    <h5 class="m-0">Security</h5>
                    <p class="m-0">Keep your account secure</p>
                </div>
                <%=chevron_icon(direction: :right, color: :grey)%>
            </a>
        </li>
    </ul>
</div>
<div class="p-5" style="min-width: 50rem;">
    <div class="mb-2">
        <h4 class="m-0">Account Settings</h4>
        <%if !current_user.activated? && current_user.isOrganization?%>
            <h6 class="card-subtitle text-danger m-0">Your account is not activated. Click <a href="<%=requirements_path%>">here</a> to activate your account.</h6>
        <%end%>
    </div>
    <div class="py-4 border-top border-1 border-dark">
        <div class="d-flex align-items-center justify-content-between">
            <div class="">
                <h6 class="m-0">Email</h6>
                <p class="m-0"><%=current_user.email%></p>
            </div>
            <%=link_to "Change email", change_email_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
        </div>
    </div>
    <div class="py-4 border-top border-1 border-dark">
        <div class="d-flex align-items-center justify-content-between">
            <div class="">
                <h6 class="m-0">Password</h6>
                <p class="m-0">********</p>
            </div>
            <%=link_to "Change password", change_password_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
        </div>
    </div>
    <div class="py-4 border-top border-1 border-dark">
        <div class="d-flex align-items-center justify-content-between">
            <div class="">
                <h6 class="m-0">Phone number</h6>
                <p class="m-0"><%=current_user.phone_number.blank? ? "No phone number added" : number_to_phone(current_user.phone_number, area_code: true)%></p>
            </div>
            <%=link_to "#{current_user.phone_number.blank? ? "Add" : "Change"} phone number", change_phone_number_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
        </div>
    </div>
</div>