<div class="d-flex align-content-center justify-content-between">
    <%=f.label "Incident location", { class: "form-label"}%>
    <div class="d-flex gap-1 align-items-center">
        <button class="btn p-0" name="reject-claimant-name-button" for="<%=@settlement.attribute_reviews.by(current_user).first.public_id%>" style="<%=@settlement.attribute_reviews.by(current_user).first.claimant_name_approved? ? "" : "display: none;"%>">
            <div class="d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Approved by <%=current_user.full_name%>">
                <%=circle_icon(color: :green, text_size: :h6)%>
            </div>
        </button>
        <button class="btn p-0" name="approve-claimant-name-button" for="<%=@settlement.attribute_reviews.by(current_user).first.public_id%>" style="<%=@settlement.attribute_reviews.by(current_user).first.claimant_name_approved? ? "display: none;" : ""%>">
            <div class="d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Not approved by <%=current_user.full_name%>">
                <%=circle_icon(color: :red, text_size: :h6)%>
            </div>
        </button>
        <%if @settlement.attribute_reviews.by(@settlement.partner_of(current_user)).first.claimant_name_approved?%>
            <div data-bs-toggle="tooltip" data-bs-placement="top" title="Approved by <%=@settlement.partner_of(current_user).full_name%>">
                <%=circle_icon(color: :green, text_size: :h6)%>
            </div>
        <%else%>
            <div data-bs-toggle="tooltip" data-bs-placement="top" title="Not approved by <%=@settlement.partner_of(current_user).full_name%>">
                <%=circle_icon(color: :red, text_size: :h6)%>
            </div>
        <%end%>
    </div>
</div>