<div class="container mt-4">
    <div class="row">
        <div class="col d-flex">
            <div class="my-auto w-100">
                <%if @continue_path%>
                    <%=link_to "Go back", @continue_path, class: "btn btn-secondary"%>
                <%else%>
                    <%=link_to "Go to settlement", settlement_show_path(@document.settlement), class: "btn btn-secondary"%>
                <%end%>
                <div class="card mt-4">
                    <%if @document.needs_signature.nil?%>
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <p class="m-0">Does this document need a signature?</p>
                            <div class="d-flex gap-2">
                                <%=button_to "Yes", {}, class: "btn btn-primary", url: document_update_path(@document), params: {"document[needs_signature]": true}%>
                                <%=button_to "No", {}, class: "btn btn-outline-primary", url: document_update_path(@document), params: {"document[needs_signature]": false}%>
                            </div>
                        </div>
                    <%end%>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h3><%=@document.pdf.filename%></h3>
                                <p class="m-0">Added by <%=link_to @document.added_by.name, user_profile_show_path(@document.added_by.profile), class: "link-dark"%></p>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-sm btn-primary" data-dv-open="<%=@document.public_id%>">
                                    <%= pen_icon(color: "#ffffff", size: 25)%>
                                    Signature
                                </button>
                                <a class="btn btn-sm btn-secondary" href="<%=document_show_path(@document, format: :pdf)%>">
                                    <%=download_icon(color: "#000000", size: 25)%>
                                    Download
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        <%@document.reviews.each do |dr|%>
                            <div class="d-flex justify-content-between list-group-item">
                                <div class="d-flex gap-1 align-items-center">
                                    <%=image_tag "default_profile_picture.png", size: 36, class: "d-block rounded-circle bg-secondary border"%>
                                    <p class="m-0"><%=dr.reviewer.name%> must approve this document.</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <%case dr.verdict%>
                                    <%when "Approved"%>
                                        <%=image_tag 'checkmark.svg', size: 22%>
                                        <span class="ms-1 text-success">Approved</span>
                                    <%when "Rejected"%>
                                        <%=image_tag 'xmark.svg', size: 22%>
                                        <span class="ms-1 text-danger">Rejected</span>
                                    <%when "Waiting"%>
                                        <div class="d-flex align-items-center gap-2">
                                            <%=link_to "Approve", document_approve_path(@document), class: "btn btn-success btn-sm", "data-method": "post"%>
                                            <%=link_to "Reject", document_reject_path(@document), class: "btn btn-outline-danger btn-sm", "data-method": "post"%>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark">
                <div class="card-body">
                    <div class="overflow-auto gap-2 d-grid" style="max-height: 85vh;">
                        <%@document.pages.each do |page|%>
                            <div class="d-flex justify-content-center align-items-center">
                                <%= image_tag url_for(page), class: "card", style: "max-width: 100%; height: auto;" %>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


