<div class="container">
    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Document Info
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col text-end">
                                        Filename:
                                    </div>
                                    <div class="col">
                                        <%=@document.pdf.filename%>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        Added by:
                                    </div>
                                    <div class="col">
                                        <%=@document.added_by.full_name%>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        Date added:
                                    </div>
                                    <div class="col">
                                        <%=@document.created_at.in_time_zone("Central Time (US & Canada)").strftime("%B %-d, %Y")%>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        Signature:
                                    </div>
                                    <div class="col">
                                        <%if @document.signed?%>
                                            <td>✔️</td>
                                        <%elsif @document.ds_envelope_id != nil%>
                                            <td>⌛</td>
                                        <%else%>
                                            <td>❌</td>
                                        <%end%>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        Approval:
                                    </div>
                                    <div class="col">
                                        <%if @document.approved?%>
                                            ✔️
                                        <%elsif @document.rejected?%>
                                            ❌
                                        <%else%>
                                            ⌛
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Approval
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <div class="text-center">
                                <h2 class="text-center fs-bold">Approval progress: <%=@approval_progress%>%</h2>
                                <div class="progress w-75 mx-auto my-3">
                                    <%if @document.rejected?%>
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="<%=@approval_progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@approval_progress%>%;"></div>
                                    <%elsif @approval_progress == 100%>
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%=@approval_progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@approval_progress%>%;"></div>
                                    <%else%>
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="<%=@approval_progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@approval_progress%>%;"></div>
                                    <%end%>
                                </div>
                            </div>
                            <%if @document.rejected?%>
                                <%if @document.reviews.rejections.with_reviewer(current_user).exists?%>
                                <p class="text-center text-muted">You have rejected this document. The settlement cannot continue until this document is removed or approved.</p>
                                <%else%>
                                <p class="text-center text-muted"><%=@document.reviews.rejections.first.reviewer.full_name%> has rejected this document. The settlement cannot continue until it is removed or approved.</p>
                                <%end%>
                            <%elsif @document.approved?%>
                            <p class="text-center text-muted">This document has been approved by all parties.</p>
                            <%else%>
                                <%if @document.reviews.waiting_for_review.with_reviewer(current_user).exists?%>
                                    <p class="text-center text-muted">You must approve or reject this document for the settlement to continue.</p>
                                <%else%>
                                    <p class="text-center text-muted"><%=@document.reviews.waiting_for_review.first.reviewer.full_name%> must approve this document for the settlement to continue.</p>
                                <%end%>
                            <%end%>
                            <div class="row">
                                <div class="col border-end">
                                    <h5 class="fs-bold">Approvals gathered:</h5>
                                    <%@document.reviews.approvals.each do |review|%>
                                        <h6><i class="fa-regular fa-square-check"></i> <%=@document.added_by == review.reviewer ? "#{review.reviewer.full_name} (Automatically)" : review.reviewer.full_name%></h6>
                                    <%end%>
                                    <%@document.reviews.rejections.each do |review|%>
                                        <h6 class="text-danger"><i class="fa-regular fa-square"></i> <%=review.reviewer.full_name%></h6>
                                    <%end%>
                                    <%@document.reviews.waiting_for_review.each do |review|%>
                                        <h6><i class="fa-regular fa-square"></i> <%=review.reviewer.full_name%></h6>
                                    <%end%>
                                </div>
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <%if !@document.has_been_reviewed_by?(current_user)%>
                                            <a class="btn btn-lg btn-success" href="<%=document_approve_path(@document)%>" data-method="post">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                Approve
                                            </a>
                                            <button name="open-document-reject-confirmation-button" class="btn btn-lg btn-danger" aria-label="Reject this document">
                                                <i class="fa-solid fa-thumbs-down"></i>
                                                Reject
                                            </button>
                                            
                                        <%elsif @document.has_been_rejected_by?(current_user)%>
                                            <a class="btn btn-lg btn-success" href="<%=document_approve_path(@document)%>" data-method="post">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                Approve
                                            </a>
                                            <a class="btn btn-lg btn-info" href="<%=document_unreject_path(@document)%>" data-method="post">
                                                <i class="fa-solid fa-arrow-rotate-left"></i>
                                                Unreject
                                            </a>
                                        <%elsif @document.has_been_approved_by?(current_user)%>
                                            <a class="disabled btn btn-lg btn-success" href="">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                Approve
                                            </a>
                                            <a class="disabled btn btn-lg btn-danger" href="">
                                                <i class="fa-solid fa-thumbs-down"></i>
                                                Reject
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%if @document.needs_signature?%>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Get eSignature
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <p class="card-text text-center"><%=@document.settlement.claimant_name%> will receive an email from DocuSign with instructions to eSign this document.</p>
                            <%=form_with url: document_send_ds_signature_request_path(@document), method: :patch, local: true do |f| %>
                            <div class="mb-3">
                                <%= f.label "Client name", { class: "form-label"} %>
                                <%= f.text_field :client_name, class: "form-control", placeholder: "Client name", value: @document.settlement.claimant_name, readonly: true%>
                            </div>
                            <div class="mb-3">
                                <%= f.label "Client email", { class: "form-label"} %>
                                <%= f.email_field :client_email, class: "form-control", placeholder: "Client email", autofocus: true, required: true%>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%=link_to "Send Later", root_path, class: "btn btn-lg btn-secondary w-100"%>
                                </div>
                                <div class="col">
                                    <%=f.submit "Send Now", class: "btn btn-lg btn-primary w-100"%>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
                <%end%>
            </div>
            <div class="mt-3 row">
                <div class="col">
                    <%=link_to "🡸 Settlement", settlement_show_path(@document.settlement), class: "btn btn-outline-primary"%>
                </div>
                <div class="col text-end">
                    <%=link_to "Download (PDF)", rails_blob_path(@document.pdf, disposition: "attachment"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        <div class="col">
            <embed src="<%=rails_blob_path(@document.pdf)%>" type="application/pdf"  width="100%" height="700" style="border: none;">
        </div>
    </div>
</div>

<%if @document.settlement.ready_for_payment?%>
    <%=render "modals/ready_for_payment", render_instantly: true%>
<%end%>

<%unless @document.has_been_reviewed_by?(current_user)%>
    <%=render "modals/document_reject_confirmation", render_instantly: false%>
<%end%>