<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="m-0">What's Next?</h5>
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <button type="submit" class="btn btn-secondary btn-sm">
                Reset
            </button>
        <%end%>
    </div>
    <div class="list-group list-group-flush">
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <%=f.hidden_field :needs_document, value: true%>
            <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3">
                <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                <h6 class="m-0 me-auto">A settlement needs a document</h6>
                <%=chevron_icon(color: :grey)%>
            </button>
        <%end%>
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <%=f.hidden_field :ready_for_payment, value: true%>
            <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3">
                <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                <h6 class="m-0 me-auto">A settlement is ready for payment</h6>
                <%=chevron_icon(color: :grey)%>
            </button>
        <%end%>
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <%=f.hidden_field :needs_approval_from, value: current_user.public_id%>
            <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3">
                <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                <h6 class="m-0 me-auto">A document needs your approval</h6>
                <%=chevron_icon(color: :grey)%>
            </button>
        <%end%>
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <%=f.hidden_field :needs_signature, value: true%>
            <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3">
                <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                <h6 class="m-0 me-auto">A document needs a signature</h6>
                <%=chevron_icon(color: :grey)%>
            </button>
        <%end%>
    </div>
</div>