<div class="border-end d-flex bg-light" style="width: 400px">
    <div style="width: 120px;"></div>
    <div class="d-flex flex-column flex-shrink-0 flex-fill p-3">
        <h1 class="my-0 ms-3"><strong>Settings</strong></h1>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <%=link_to "Account", account_settings_path, class: "nav-link #{request.path == account_settings_path ? "active" : "link-dark"}"%>
            </li>
            <li>
                <%=link_to "Profile", profile_settings_path, class: "nav-link #{request.path == profile_settings_path ? "active" : "link-dark"}"%>
            </li>
            <li>
                <%=link_to "Wallet", under_construction_path(continue_path: request.path, page_name: "wallet"), class: "nav-link link-dark"%>

            </li>
            <li>
                <%=link_to "Billing", under_construction_path(continue_path: request.path, page_name: "billing"), class: "nav-link link-dark"%>

            </li>
            <li>
                <%=link_to "Security", under_construction_path(continue_path: request.path, page_name: "security settings"), class: "nav-link link-dark"%>
            </li>
        </ul>
    </div>
</div>