<%=render "sidebar"%>
<div class="p-5" style="min-width: 50rem;">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <h3 class="m-0">Account Settings</h3>
                <%if !current_user.activated? && current_user.isOrganization?%>
                    <h6 class="card-subtitle text-danger m-0">Your account is not activated. Click <a href="<%=user_profile_show_path(current_user.profile, section: 'requirements')%>">here</a> to activate your account.</h6>
                <%end%>
            </div>
            <%=link_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-outline-danger"%>
        </div>
        <div class="card-body">
            <div class="pb-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <p class="m-0">Email</p>
                        <h6 class="m-0 text-dark"><%=current_user.email%></h6>
                    </div>
                    <%=link_to "Change email", change_email_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
                </div>
            </div>
            <div class="py-3 border-top border-1 border-dark">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <p class="m-0">Password</p>
                        <h6 class="m-0 text-dark">********</h6>
                    </div>
                    <%=link_to "Change password", change_password_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
                </div>
            </div>
            <div class="pt-3 border-top border-1 border-dark">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <p class="m-0">Phone number</p>
                        <h6 class="m-0 text-dark"><%=current_user.phone_number.blank? ? "No phone number added" : number_to_phone(current_user.phone_number, area_code: true)%></h6>
                    </div>
                    <%=link_to "#{current_user.phone_number.blank? ? "Add" : "Change"} phone number", change_phone_number_path(continue_path: settings_path(section: "account")), class: "btn btn-outline-primary"%>
                </div>
            </div>
        </div>
    </div>
</div>