<%=render "sidebar"%>
<div class="p-5" style="min-width: 50rem;">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <h3 class="m-0">Wallet</h3>
            </div>
            <%=link_to "Add payment method", payment_method_new_path(continue_path: request.path), class: "btn btn-outline-primary"%>
        </div>
        <div class="card-body">
            <p class="m-0">Settlement funds will <%=current_user.lawful? ? 'go into': 'come from'%> these accounts.</p>
        </div>
        <table class="table table-sm table-hover" style="box-shadow: none;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Account #</th>
                    <th>Added on</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%@payment_methods.each do |pm|%>
                    <tr>
                        <td><i class="h6 fa-solid fa-<%=pm ? 'building-columns' : 'credit-card'%> m-0"></i></td>
                        <td>Chester Checking</td>
                        <td>*****0529</td>
                        <td>5/26/22</td>
                        <td>Good</td>
                        <td>
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis h6 m-0"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Rename</a>
                                <a class="dropdown-item" href="#">Make default</a>
                                <a class="dropdown-item" href="#">Use in settlements</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                <%end%>
                <tr>
                    <td><i class="h6 fa-solid fa-<%=false ? 'building-columns' : 'credit-card'%> m-0"></i></td>
                    <td>Visa</td>
                    <td>*****0529</td>
                    <td>9/4/22</td>
                    <td>Good</td>
                    <td>
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis h6 m-0"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Rename</a>
                            <a class="dropdown-item" href="#">Make default</a>
                            <a class="dropdown-item" href="#">Use in settlements</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>