<div class="row w-100 m-0">
    <div class="col">
        <div class="h-100 d-grid justify-content-center align-items-center">
            <div>
                <div class="bg-secondary rounded-circle px-5 py-4">
                    <%=image_tag "sde_cube_logo_blue_large.png", height: "400rem"%>
                </div>
                <h2 class="text-center text-primary mt-3"><strong>Settlement Done Easy</strong></h2>
            </div>
        </div>
    </div>
    <div class="col bg-light">
        <div class="h-100 d-flex justify-content-center">
            <div class="" style="width: 60%; margin-top: 20%">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {method: :post, "data-js-styling": true, "data-wait-before-resubmit": true}) do |f|%>
                    <div class="mb-4 ms-1">
                        <h1 class="">Welcome back!</h1>
                        <p class="">Welcome back! Please sign in below.</p>
                    </div>
                    <div class="container ps-3 mt-2">
                        <div class="row my-1">
                            <div class="col form-group px-0">
                                <%=f.label :email, class: "form-label"%>
                                <%=f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, required: true%>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col form-group px-0">
                                <%=f.label :password, class: "form-label"%>
                                <%=f.password_field :password, class: "form-control", placeholder: "Password", required: true, autofill: "current-password"%>
                            </div>
                        </div>
                    </div>
                    <%if devise_mapping.rememberable?%>
                        <div class="row my-3">
                            <div class="col form-group">
                                <%=f.hidden_field :remember_me, value: "0", autocomplete: "off"%>
                                <%=f.check_box :remember_me, value: "1"%>
                                <%=f.label :remember_me%>
                            </div>
                        </div>
                    <%end%>
                    <%=f.submit "Sign in", class: "btn btn-primary mt-2 ms-1", "data-test-id": "submit_user_sign_in_button"%>
                <%end%>
                <p class="text-muted mt-4">Don't have an account? <%=link_to "Sign up", new_user_registration_path, class: "link-dark"%>.</p>
            </div>
        </div>
    </div>
</div>

