<div class="container mb-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="m-0">Payment History</h3>
                            <h6 class="card-subtitle text-muted m-0">
                                Current status: 
                                <%if @payment.completed?%>
                                    <span class="m-0 badge rounded-pill bg-success"><%=@payment.status%></span>
                                <%elsif @payment.failed?%>
                                    <span class="m-0 badge rounded-pill bg-danger"><%=@payment.status%></span>
                                <%else%>
                                    <span class="m-0"><%=@payment.status%></span>
                                <%end%>
                            </h6>
                        </div>
                        <div class="col-auto d-flex align-items-center gap-2 pe-1">
                            <%if current_user.isAttorney?%>
                                <%if @settlement.ready_for_payment?%>
                                    <a class="btn btn-sm btn-primary" href="<%=payment_request_create_path(@settlement)%>" data-method="post">
                                        <i class="fa-solid fa-hand-holding-dollar"></i>
                                        Request payment
                                    </a>
                                <%else%>
                                    <a class="disabled btn btn-sm btn-primary" href="">
                                        <i class="fa-solid fa-hand-holding-dollar"></i>
                                        Request payment
                                    </a>
                                <%end%>
                            <%else%>
                                <%if @settlement.ready_for_payment?%>
                                    <%=link_to "Send payment", settlement_execute_payment_path(@settlement), method: :post, class: "btn btn-sm btn-primary"%>
                                <%else%>
                                    <%=link_to "Send payment", nil, class: "disabled btn btn-sm btn-primary"%>
                                <%end%>
                            <%end%>
                            <a href="<%=payment_sync_with_stripe_path(@payment)%>" data-method="post" class="btn-sm btn btn-secondary">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <%@settlement.payment_related_log_entries.each do |e|%>
                        <li class="list-group-item py-1 d-flex justify-content-between">
                            <p class="m-0"><%=e.message%></p>
                            <p class="m-0 text-muted"><%=time_ago_in_words(e.created_at)%> ago</p>
                        </li>
                    <%end%>
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="m-0">Bank Accounts</h3>
                    <h6 class="card-subtitle text-muted m-0">Funds will be deposited into the selected account.</h6>
                </div>
                <%=form_for(@payment, url: payment_update_path(@payment.settlement), method: :patch) do |f|%>
                    <ul class="list-group list-group-flush">
                        <%if current_user.organization.bank_accounts.empty?%>
                            <div class="list-group-item">
                                <h5 class="m-0 text-center text-muted">No bank accounts have been linked to SDE.</h5>
                            </div>
                        <%else%> 
                            <%current_user.organization.bank_accounts.each do |ba|%>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title"><%=ba.nickname%></h5>
                                            <h6 class="card-subtitle text-muted">XXXXX<%=ba.last4%></h6>
                                        </div>
                                        <div class="col-auto d-flex align-items-center">
                                            <div class="form-group">
                                                <%=f.label "Select", class: "me-1"%>
                                                <%=f.radio_button :source_id, ba.id, class: "form-check-input"%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        <%end%>
                    </ul>
                    <div class="card-body d-flex justify-content-between">
                        <p class="m-0 text-muted">No changes will be made until you click update.</p>
                        <%=f.submit "Update", class: "btn btn-sm btn-primary"%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amount: $<%=@payment.amount%></h5>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>

<%=link_to "🡸 Back to settlement", settlement_show_path(@payment.settlement), class: "btn btn-outline-primary"%>

<%if @settlement.has_unanswered_payment_request? && @settlement.active_payment_request.accepter == current_user%>
    <div class="modal fade" id="payment-request-modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payment Request!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <%if @settlement.active_payment_request.requester.isAttorney?%>
                        <h6><%=@settlement.active_payment_request.requester.full_name%> has requested payment!</h6>
                    <%else%>
                        <h6><%=@settlement.active_payment_request.requester.full_name%> has requested to send payment!</h6>
                    <%end%>
                    <p>Amount: $<%=@payment.amount%></p>
                </div>
                <div class="modal-footer">
                    <%=link_to "Deny", payment_request_deny_path(@settlement.active_payment_request), method: :post, class: "btn btn-secondary"%>
                    <%=link_to "Accept", payment_request_accept_path(@settlement.active_payment_request), method: :post, class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    </div>
    <script>
        const paymentRequestModal = new bootstrap.Modal(document.getElementById('payment-request-modal'));
        paymentRequestModal.show();
    </script>
<%end%>