<div class="row w-100 m-0">
    <div class="col">
        <div class="h-100 d-grid justify-content-center align-items-center">
            <div>
                <div class="bg-secondary rounded-circle px-5 py-4">
                    <%=image_tag "sde_cube_logo_blue_large.png", height: "400rem"%>
                </div>
                <h2 class="text-center text-primary mt-3"><strong>Settlement Done Easy</strong></h2>
            </div>
        </div>
    </div>
    <div class="col bg-light">
        <div class="h-100 d-grid justify-content-center align-items-center">
            <div style="min-width: 32rem;">
                <div class="mb-5 ms-1">
                    <h1 class="m-0">Add Debit Card</h1>
                    <p class="m-0">Click <a href="">here</a> to add a bank account instead.</p>
                </div>
                <div>
                    <%=form_for @card, url: card_create_path do |f|%>
                        <%=f.hidden_field :token%>
                        <%=f.hidden_field :continue_path, value: @continue_path%>
                    <%end%>
                    <div id="payment_form" data-secret-path="<%=new_card_secret_path%>" data-connect-account="<%=@stripe_account%>">
                        <p class="border-bottom mb-3" style="line-height: 0.1em; color: rgb(48, 49, 61);"><span class="pe-2 bg-light fw-bold">Card</span></p>
                        <div id="card_form">

                        </div>
                        <div id="error_message_for_card_form" class="invalid-feedback"></div>
                        <p class="border-bottom mt-5 mb-3" style="line-height: 0.1em; color: rgb(48, 49, 61);"><span class="pe-2 bg-light fw-bold">Billing Address</span></p>
                        <div id="address_form"></div>
                    </div>
                    <p class="my-2 text-muted">Settlement Done Easy currently does not support credit cards.</p>
                    <div class=" mt-4 d-flex gap-2">
                        <button id="tokenize_button" class="btn btn-primary">Save</button>
                        <%=link_to 'Cancel', @continue_path, class: "btn btn-outline-primary", id: "continue_path_button" if @continue_path%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .animated-width {
        transition: width 0.5s ease-out;
    }
</style>

