<div class="modal fade" name="change-password-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change password for <%=current_user.email%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h6>Passwords must meet the following criteria.</h6>
                    <ul>
                        <li>
                            8 or more characters
                        </li>
                    </ul>
                </div>
                <%=form_for(current_user, url: registration_path(current_user), html: { method: :put, id: "change-password-form" }) do |f| %>
                    <div class="form-group">
                        <%=f.label :current_password%>
                        <%=f.password_field :current_password, class: "form-control", id: "change-password-current-password-field"%>
                        <div class="invalid-feedback" style="display: none;" name="incorrect-password-error-message">Incorrect password</div>
                    </div>
                    <div class="form-group">
                        <%=f.label :new_password%>
                        <%=f.password_field :password, class: "form-control", id: "change-password-new-password-field"%>
                        <div class="invalid-feedback" style="display: none;" name="blank-password-error-message">Cannot be blank</div>
                        <div class="invalid-feedback" style="display: none;" name="short-password-error-message">Must have <%=Rails.configuration.MINIMUM_PASSWORD_LENGTH%> or more characters</div>
                    </div>
                    <div class="form-group">
                        <%=f.label :new_password_again%>
                        <%=f.password_field :password_confirmation, class: "form-control", id: "change-password-password-confirmation-field"%>
                        <div class="invalid-feedback" style="display: none;" name="mismatch-password-error-message">Does not match the new password</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" name="submit-change-password-button">Submit</button>
                </div>
            <%end%>
        </div>
    </div>
</div>