<div class="row my-3">
    <div class="col">
        <div class="card" style="height: 400px;">
            <div class="card-header d-flex justify-content-between align-items-center" style="min-height: 64px">
                <h4 class="m-0">Bank Accounts</h4>
                <a class="text-decoration-none text-dark" href="<%=under_construction_path(continue_path: request.path, page_name: "bank account index")%>">
                    View all
                    <%=chevron_icon()%>
                </a>
            </div>
            <%if @bank_accounts.count == 0%>
                <p class="my-auto text-center text-muted">You do not have any bank accounts.</p>
            <%else%>
                <div class="scrollable-table-container mb-auto" style="overflow-y: auto;">
                    <table class="table table-hover table-sm shadow-none m-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Last 4</th>
                                <th>Added on</th>
                                <th>Added by</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@bank_accounts.each do |pm|%>
                                <tr>
                                    <td class="border-bottom-0 text-center"><i class="h6 fa-solid fa-<%=pm.type == "BankAccount" ? 'building-columns' : 'credit-card'%> m-0"></i></td>
                                    <td class="border-bottom-0"><%=pm.nickname.blank? ? "None" : pm.nickname%></td>
                                    <td class="border-bottom-0"><%=pm.last4.blank? ? "Unknown" : pm.last4%></td>
                                    <td class="border-bottom-0"><%=pm.created_at.strftime("%B %-d, %Y")%></td>
                                    <td class="border-bottom-0">
                                        <%=link_to pm.added_by.name, user_profile_show_path(pm.added_by.profile), class: "link-dark"%>
                                    </td>
                                    <td class="border-bottom-0"><%=pm.status.blank? ? "Unknown" : pm.status.capitalize%></td>
                                    <td class="border-bottom-0">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis h6 m-0"></i></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Rename</a>
                                            <a class="dropdown-item" href="#">Make default</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            <%end%>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <p class="m-0">Total bank accounts: <%=@bank_accounts.count%></p>
                <div>
                    <%if new_settlement_button_should_be_shown_for(current_user, @user_profile)%>
                        <%=link_to "Add bank account", bank_account_new_path(continue_path: request.path), class: "btn btn-primary btn-sm", "data-test-id": "new_settlement_button"%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
