<div class="row">
    <div class="col-auto">
        <div class="card my-3">
            <h5 class="m-0 card-header">What's Next?</h5>
            <div class="list-group list-group-flush">
                <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
                    <%=f.hidden_field :needs_document, value: true%>
                    <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3" href="#">
                        <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                        <h6 class="m-0 me-auto">A settlement needs a document</h6>
                        <%=chevron_icon(color: :grey)%>
                    </button>
                <%end%>
                <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
                    <%=f.hidden_field :ready_for_payment, value: true%>
                    <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3" href="#">
                        <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                        <h6 class="m-0 me-auto">A settlement is ready for payment</h6>
                        <%=chevron_icon(color: :grey)%>
                    </button>
                <%end%>
                <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
                    <%=f.hidden_field :needs_approval_from, value: current_user.public_id%>
                    <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3" href="#">
                        <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                        <h6 class="m-0 me-auto">A document needs your approval</h6>
                        <%=chevron_icon(color: :grey)%>
                    </button>
                <%end%>
                <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
                    <%=f.hidden_field :needs_signature, value: true%>
                    <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2 link-dark px-3" href="#">
                        <i class="fa-solid fa-circle-exclamation text-warning h5 m-0"></i>
                        <h6 class="m-0 me-auto">A document needs a signature</h6>
                        <%=chevron_icon(color: :grey)%>
                    </button>
                <%end%>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2">
                    <h5 class="m-0">Active Settlements</h5>
                </div>
                <div>
                    <%if new_settlement_button_should_be_shown_for(current_user, @user_profile)%>
                        <%=link_to "New settlement", settlement_new_path(continue_path: request.path), class: "btn btn-primary btn-sm"%>
                    <%end%>
                </div>
            </div>
            <div class="scrollable-table-container" style="overflow-y: auto; height: 400px;">
                <table class="table table-hover table-sm shadow-none m-0">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Attorney</th>
                            <th>Adjuster</th>
                            <th>Claimant</th>
                            <th>Amount</th>
                            <th>Time elapsed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="user_profile_settlements_table_body">
                        <%@settlements.each_with_index do |s, i|%>
                            <tr class="clickable" href="<%=settlement_show_path(s)%>">
                                <td class="border-bottom-0" data-test-id="public_number"><strong><%="%04d" % s.public_number%></strong></td>
                                <td class="border-bottom-0" data-test-id="attorney"><%=link_to s.attorney.name, user_profile_show_path(s.attorney.profile), class: "link-dark"%></td>
                                <td class="border-bottom-0" data-test-id="adjuster"><%=link_to s.adjuster.name, user_profile_show_path(s.adjuster.profile), class: "link-dark"%></td>
                                <td class="border-bottom-0" data-test-id="claimant_name"><%=s.claimant_name%></td>
                                <td class="border-bottom-0" data-test-id="amount">$<%=s.amount%></td>
                                <td class="border-bottom-0"><%=distance_of_time_in_words(DateTime.now, s.created_at)%></td>
                                <td class="border-bottom-0"><%=chevron_icon()%></td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>