<div class="container my-4" data-test-id="user_profile_show_page">
    <%=render "user_profile/owner_card"%>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade <%=@section == 'about' ? "active show" : ""%>" id="about" role="tabpanel">
            <%if @owner.isMember?%>
                <%=render "user_profile/about/member"%>
            <%else%>
                <%=render "user_profile/about/organization"%>
            <%end%>           
        </div>
        <div class="tab-pane fade <%=@section == 'settlements' ? "active show" : ""%>" id="settlements" role="tabpanel">
            <%=render "user_profile/settlements/all"%>
        </div>
        <%if @owner.isOrganization?%>
            <div class="tab-pane fade <%=@section == 'requirements' ? "active show" : ""%>" id="requirements" role="tabpanel">
                <%=render "user_profile/requirements/all"%>
            </div>
            <div class="tab-pane fade <%=@section == 'members' ? "active show" : ""%>" id="members" role="tabpanel">
                <%=render "user_profile/members/all"%>
            </div>
        <%end%>
        <div class="tab-pane fade <%=@section == 'bank_accounts' ? "active show" : ""%>" id="bank_accounts" role="tabpanel">
            <%=render "user_profile/bank_accounts/all"%>
        </div>
    </div>
    <%if !@continue_path.blank? && @owner != current_user%>
        <a href="<%=@continue_path%>" class="btn btn-primary my-3">
            <%=chevron_icon(direction: :left)%>
            Go back
        </a>
    <%end%>
</div>