<div class="w-100">
    <div class="w-100 position-absolute" style="z-index: 0;">
        <div class="w-100" style="height: 17rem; background-image: linear-gradient(160deg, rgba(52,89,230,1) 24%, rgba(81,145,223,1) 66%, rgba(192,215,251,1) 100%);"></div>
    </div>
    <div class="container mt-4" data-test-id="user_profile_show_page">
        <div class="card">
            <div class="card-body bg-light">
                <div class="d-flex align-items-center gap-3">
                    <div class="my-1">
                        <%=image_tag "picture1.png", size: 96, class: "rounded-circle bg-secondary border"%>
                    </div>
                    <div class="me-auto">
                        <%if @user.isOrganization?%>
                            <h2 class="m-0" data-test-id='owner_name'><%=@user.name%></h2>
                            <p class="m-0">Member since <%=@user.created_at.strftime("%B %-d, %Y")%>
                        <%else%>
                            <h2 class="m-0" data-test-id='owner_name'><%=@user.profile.first_name%> <%=@user.profile.last_name if user_can_access_profile_resource?(current_user, @user_profile, [:last_name])%></h2>
                            <p class="m-0"><%=@user.organization.name%></p>
                        <%end%>
                    </div>
                    <%if current_user == @user || current_user == @user.organization%>
                        <a class="btn btn-secondary d-flex align-items-center gap-1" href="<%=user_profile_edit_path(@user_profile, continue_path: request.path)%>">
                            Edit profile <i class="fa-solid fa-pen text-muted m-0"></i>
                        </a>
                    <%end%>
                </div>
            </div>        
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#about" aria-selected="true" role="tab">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#settlements" aria-selected="false" role="tab">Settlements</a>
                </li>
            </ul>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="about" role="tabpanel">
                <%if @user.isMember?%>
                    <%=render "user_profile/about_section_for_members"%>
                <%else%>
                    <%=render "user_profile/about_section_for_organizations"%>
                <%end%>           
            </div>
            <div class="tab-pane fade" id="settlements" role="tabpanel">
                <%=render "user_profile/settlement_section"%>
            </div>
        </div>
    </div>
</div>






