<!DOCTYPE html>
<html>
  <head>
    <title>Settlement Done Easy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <%= image_tag "sde-cube-logo.png", height: 40, class: "mx-2"%>
        <%= link_to "Settlement Done Easy", root_path, class: "navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <%if !current_user.isOrganization?%>
                <li class="nav-item">
                  <%= link_to "New Settlement", settlement_new_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to current_user.organization.full_name, "#", class: 'nav-link'%>
                </li>
              <%else%>
                <%if current_user.stripe_account_onboarded?%>
                  <li class="nav-item">
                    <%= link_to "Stripe Dashboard", stripe_login_link_path, class: 'nav-link'%>
                  </li>
                <%else%>
                  <li class="nav-item">
                    <%= link_to "Set up Stripe", stripe_onboard_account_link_path, class: 'nav-link'%>
                  </li>
                <%end%>
                <li class="nav-item">
                    <%= link_to "Settlements", organization_settlements_index_path(current_user), class: 'nav-link'%>
                </li>
                <li class="nav-item">
                    <%= link_to "Members", organization_members_index_path(current_user), class: 'nav-link'%>
                </li>
              <%end%>
            <%end%>
          </ul>
          <ul class="navbar-nav ms-sm-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Inbox", "#", class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to "#{current_user.full_name}!", edit_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', user_type_select_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <% flash.each do |key, message| %>
        <div class="alert alert-dismissible <%=flash_class(key)%> text-center">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <%=message.html_safe%>
        </div>
      <% end %>
    </div>
    <main role="main" class="container">
      <br>
      <%= yield %>
      <br>
    </main>
  </body>
</html>
