<!DOCTYPE html>
<html>
  <head>
    <title>Settlement Done Easy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body id="page-container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <%= image_tag "sde_cube_logo_white_small.png", height: 40, class: "mx-2"%>
        <%= link_to "Settlement Done Easy", root_path, class: "navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Payments", payment_index_path, class: 'nav-link'%>
              </li>
              <%if !current_user.isOrganization?%>
                <li class="nav-item">
                  <%= link_to "Settlements", settlement_completed_index_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to current_user.organization.full_name, nil, class: 'nav-link'%>
                </li>
              <%else%>
                <%if !current_user.stripe_account_onboarded?%>
                  <li class="nav-item">
                    <%= link_to "Set up Stripe", stripe_onboard_account_link_path, class: 'nav-link'%>
                  </li>
                <%end%>
                <li class="nav-item">
                  <%= link_to "Settlements", organization_settlements_index_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to "Members", organization_members_index_path, class: 'nav-link'%>
                </li>
              <%end%>
            <%end%>
          </ul>
          <ul class="navbar-nav ms-sm-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                <div class="dropdown-menu">
                  <%=link_to "Profile", user_profile_show_path(current_user.profile), class: 'dropdown-item'%>
                  <%=link_to "Settings", settings_path, class: 'dropdown-item'%>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
              <li class="nav-item">
                <%=link_to "Inbox", under_construction_path(continue_path: request.path, page_name: "inbox"), class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%=link_to "#{current_user.full_name}!", edit_user_registration_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%=link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
              </li>
            <% else %>
              <li class="nav-item">
                <%=link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%=link_to 'Sign up', user_type_select_path, class: 'nav-link'%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%=render "layouts/flash_messages"%>
    <main role="main" class="main-content-wrap">
      <%=yield%>
      <br>
    </main>
    <footer class="navbar d-flex align-items-center justify-content-center" id="footer">
      <p class="m-0 text-center">If you have any questions or comments, please email us at <a href=""><%=Rails.configuration.CUSTOMER_SUPPORT_EMAIL_ADDRESS%></a> or call <a href=""><%=Rails.configuration.CUSTOMER_SUPPORT_PHONE_NUMBER%></a>.</p>
    </footer>
  </body>
</html>
