<!DOCTYPE html>
<html>
  <head>
    <title>Settlement Done Easy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to "Settlement Done Easy", home_path, class: 'navbar-brand'%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Release Forms", release_form_index_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "New", generate_or_upload_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "Make a Payment", nil, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "New Settlement", settlement_new_path, class: 'nav-link'%>
            </li>
          </ul>
          <ul class="navbar-nav ms-sm-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Inbox", nil, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to "Hi, #{current_user.first_name}!", edit_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', user_type_select_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <% flash.each do |key, message| %>
        <div class="alert alert-dismissible <%=flash_class(key)%> text-center">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <%=message.html_safe%>
        </div>
      <% end %>
    </div>
    <main role="main" class="container">
      <br>
      <%= yield %>
      <br>
    </main>
  </body>
</html>
